<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To do List</title>
    <!-- cdn fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <!-- contenitore di Vue JS  -->
    <div id="root">

        <div class="container">

            <!-- HEADER -->
            <header>

                <input type="text" placeholder="nuovo ToDo" v-model="newJob">
                <button @click="addNewJob">Aggiungi</button>

            </header>
            <!-- /HEADER -->

            <!-- MAIN -->
            <main>

                <!-- LISTA DEI LAVORI DA FARE -->
                <ul class="to-do-list">
                    <li 
                    v-for="(item, index) in toDoList">
                        <p 
                        :class="item.done ? 'job-done' : ''"
                        @click="jobDone(index)">
                            {{item.text}}
                        </p>
                        <span 
                        class="remove-job"
                        @click="removeJob(index)">X</span>
                    </li>
                </ul>
                <!-- /LISTA DEI LAVORI DA FARE -->
                
            </main>
            <!-- /MAIN -->

        </div>

    </div>

    <script src="js/script.js" typeof="text/javascript"></script>
</body>
</html>